In [69]:
import pandas
old_dataset = pandas.read_csv("new_dataset_old.csv",index_col=0)
dataset = pandas.read_csv("dataset_with_img.csv",index_col=0)

In [70]:
old_dataset["img_id"] = old_dataset.index

In [71]:
dataset = dataset if "img_id" not in dataset.columns else dataset.sort_values(by="img_id")

dataset = dataset[dataset["img_id"].apply(lambda x: x != -1)]

In [72]:
base = len(dataset)
rate = lambda x: int(base * sum((6,2,2)[0:{"train":0,"value":1,"test":2}[x]+1])/sum((6,2,2)))


train_set = dataset.iloc[:rate("train")]
value_set = dataset.iloc[rate("train") : rate("value")]
test_set = dataset.iloc[rate("value"):]

In [73]:
set_list = (train_set,value_set,test_set)

In [76]:
total_set = pandas.DataFrame()
for sets in set_list:
    s = sets.append(old_dataset.iloc[sets["img_id"]])
    total_set = s if total_set.empty else total_set.append(s)

total_set.to_csv("test.csv")

C:\Users\Legion\AppData\Local\Temp\ipykernel_3204\2384845894.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s = sets.append(old_dataset.iloc[sets["img_id"]])
C:\Users\Legion\AppData\Local\Temp\ipykernel_3204\2384845894.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s = sets.append(old_dataset.iloc[sets["img_id"]])
C:\Users\Legion\AppData\Local\Temp\ipykernel_3204\2384845894.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total_set = s if total_set.empty else total_set.append(s)
C:\Users\Legion\AppData\Local\Temp\ipykernel_3204\2384845894.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s = sets.append(old_dataset.iloc[sets["img_id"]])
C:\Users\Legion\AppData\Local\Temp\ipykernel_3204\2384845894.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total_set = s if total_set.empty else total_set.append(s)

In [78]:
old_dataset.drop(index=list(dataset["img_id"])).to_csv("july_data.csv")

In [79]:
total_set

,Unnamed: 0,star,price,reviews count,elite,author friends,author reviews,author photos,author join date(day delta),author funny votes,...,author 2 rating distribution,author 1 rating distribution,review date(day delta),review rating,review photos,review useful original,review text,review reply date(day delta),review useful,img_id
0,4122,4.5,2,3032,1,4986,3215,31649,4545,95983,...,257,33,246,5,8,96,A 2021 trip back to the city of brotherly love...,0,4.574711,0
1,4123,4.5,2,3032,1,303,110,288,1988,39,...,1,2,266,5,3,3,*HIGHLY RECOMMEND*<br><br>Barbuzzo is one of m...,0,1.386294,1
2,4125,4.5,2,3032,1,319,1031,1385,3691,401,...,35,10,294,5,4,4,Stumbled upon Barbuzzo after the original bar ...,0,1.609438,2
3,4127,4.5,2,3032,1,415,268,444,1105,93,...,10,1,304,5,4,4,SO GOOD. One of my favorite restaurants in phi...,0,1.609438,3
4,4128,4.5,2,3032,1,441,144,310,2780,81,...,4,6,314,5,3,4,Did a pickup order and saw that this place is ...,0,1.609438,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112213,80997,4.5,2,620,1,217,389,475,2581,180,...,13,10,355,5,4,11,"This morning, this place was featured on the n...",0,2.484907,80997
112214,80999,4.5,2,620,1,3823,950,7098,3526,9057,...,71,21,486,5,4,37,"When my husband and I pass through Columbia, w...",0,3.637586,80999
112215,81000,4.5,2,620,0,45,142,853,2826,44,...,2,0,1317,5,8,2,Been meaning to eat here for awhile... we arri...,0,1.098612,81000
112216,81001,4.5,2,620,1,18,231,71,3983,119,...,16,21,2554,5,1,2,"Well, our last visit was so good my wife and I...",0,1.098612,81001
112217,81002,4.5,2,620,0,0,43,14,4591,35,...,7,13,3703,5,2,1,Real Mexico is the place to go for Mexican foo...,0,0.693147,81002